.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto; /* Центрируем компонент по горизонтали */
  max-width: 1200px; /* Устанавливаем максимальную ширину для компонента */
  padding: 20px; /* Добавляем отступ по бокам */
}

.restaurantsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px; /* Добавляем небольшой отступ сверху */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.restaurantCard {
  width: 300px; /* Увеличиваем ширину карточки */
  margin: 20px;
}

.link {
  text-decoration: none; /* Убираем стили ссылки */
  color: inherit; /* Наследуем цвет текста для ссылки */
  width: 100%; /* Делаем ссылку шире */
  margin: 5px; /* Уменьшаем отступы по бокам ссылки */
}

.cardImage {
  width: 100%; /* Делаем картинку шире */
  height: 200px; /* Настроить высоту картинки по вашим требованиям */
  object-fit: cover; /* Установить заполнение для изображения */
}
