/* Category.module.css */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto; /* Центрируем компонент по горизонтали */
  max-width: 1200px; /* Устанавливаем максимальную ширину для компонента */
  padding: 20px; /* Добавляем отступ по бокам */
}

h1 {
  font-family: "Rubik", sans-serif; /* Задаем шрифт для заголовка h1 */
}

.categoryList {
  display: flex; /* Используем Flexbox для вертикального расположения кнопок */
  flex-direction: column;
  align-items: center;
  margin-top: 20px; /* Добавляем отступ сверху */
}

.link {
  text-decoration: none;
  margin: 5px; /* Уменьшаем отступы по бокам ссылки */
}

/* Добавляем стиль для всех кнопок */
.link button {
  margin-top: 10px;
  width: 200px; /* Устанавливаем фиксированную ширину кнопки */
}
